<nav class="navbar navbar-expand-md navbar-light fixed-top navbar-custom {% if page.nav-short %}top-nav-short-permanent{% endif %}">

  {%- if site.title-img -%}
    <a class="navbar-brand navbar-brand-logo" href="{{ '' | absolute_url }}"><img alt="{{ site.title }} Logo" src="{{ site.title-img }}"/></a>
  {%- elsif site.title -%}
    <a class="navbar-brand" href="{{ '' | absolute_url }}">{{ site.title }}</a>
  {%- endif -%}

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="main-navbar">
    <ul class="navbar-nav ml-auto">
   <ul class="navbar-nav ml-auto">
   {% for item in site.navbar-links %}
    {% assign title = item[0] %}
    {% assign link = item[1] %}

    {% if title == "Research" %}
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ title }}</a>
        <ul class="dropdown-menu">
          {% for subitem in link %}
            {% assign subtitle = subitem[0] %}
            {% assign sublink = subitem[1] %}
            <li><a class="dropdown-item" href="{{ sublink }}">{{ subtitle }}</a></li>
          {% endfor %}
        </ul>
      </li>
    {% else %}
      <li class="nav-item"><a class="nav-link" href="{{ link }}">{{ title }}</a></li>
    {% endif %}
  {% endfor %}
</ul>

    </ul>
  </div>

  {% if page.image and (layout.show-avatar or page.show-avatar) %}
    <div class="avatar-container">
      <div class="avatar-img-border">
        <a href="{{ '' | absolute_url }}">
          <img alt="Navbar avatar" class="avatar-img" src="{{ page.image | relative_url }}" />
        </a>
      </div>
    </div>
  {% elsif site.avatar and (layout.show-avatar or page.show-avatar) %}
    <div class="avatar-container">
      <div class="avatar-img-border">
        <a href="{{ '' | absolute_url }}">
          <img alt="Navbar avatar" class="avatar-img" src="{{ site.avatar | relative_url }}" />
        </a>
      </div>
    </div>
  {% endif %}

</nav>
